

body{ /*Estilo Fundo*/
  background-color: #bdc1c4;
  font-family: 'montserrat';
}
  
  .material-icons {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
    margin-top: 5px;
  }

  .imagem{  /*Ícones*/   
    margin-top: 3px;
    width: 40px ; height: 40px;  
    position: absolute;
    top: 8px;
    right:180px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    }         
    
  .titulo{/*titulo criar nova tarefa*/
  text-align: center;
  color: #7B83EB;
}
  
.caixaprincipal{ /*Estilo Quadro principal */
  background-color: #eee;
  box-shadow: 0 0 10px #8a8a8a;
  display: block;
  width: 55%;
  min-height: 800px;
  padding: 3px;
  margin: 20px;
  justify-self: center;
  border-radius: 15px;
}
.form-group { /*Estilo Campos*/
  width: 95%;
  margin: 15px 8px 8px;
  padding: 15px;
  border: none;
  box-shadow: 0 0 5px #bdc1c4;
  border-radius: 10px;
  background-color: #eee;
  color: #000000;
  font-size: 16px;
  }
  .form-group-row {
  text-align: center;
  display: flex;
  gap: 10px;
  margin: 8px 8px 8px;
}
.time-group-row{
  text-align: center;
  display: flex;
  gap: 10px;
  margin: 1px 8px 8px;
}
  .form-group label, .form-group-desc label .form-group select{
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #bdc1c4;
  border: 0px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: #eee;
}
#prioridade, #categoria{ /* caixa selecao prioridade */
  background-color: #eee;
  border: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#recorrencia{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
.camposelec{ /* caixa selecao prioridade */
  min-width:15%;
  margin-top: 6px;
  padding: 4px;
  border: none;
  box-shadow: 0 0 5px #bdc1c4;
  border-radius: 10px;
  background-color: #eee;
  color: #000000;
}
.campocat{
  min-width: 9%;
  margin-top: 6px;
  padding: 4px;
  border: none;
  box-shadow: 0 0 5px #bdc1c4;
  border-radius: 10px;
  background-color: #eee;
  color: #000000;
}
.botoes{  /*todos botoes*/
  display: flex;
  
  justify-content: space-between;
      margin-top: 20px;
}
.seqbto{   /*botoes dir*/
  display: flex;
}
.excluir, .btnconf, .btncanc {  /*botoes estilo*/
  width: auto;
  margin: 100px 8px 8px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #464eb8;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 0 5px #bdc1c4;
}

.excluir:hover, .btncanc:hover, .btnconf:hover {
  background-color: #7B83EB;
}

.form-group input:hover{
    background-color: #dfdfdf;

}
@media screen and (max-width:1300px){  /*trem responsivo grande*/ 
  .caixaprincipal{
    width: 75%;
  }
  .campo-row {
    max-width: 95%;
    display: flex;
    gap: 1px;
    margin: 10px 1px 8px;

}
.campo{
  max-width: 75%;
  margin-bottom: 10px;
  margin: 10px 8px 8px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}
.campodesc{
  max-width: 88%;
  margin: 8px 8px 8px;
}
.excluir, .btnconf, .btncanc {  /*botoes estilo*/
  margin: 80px 8px 8px;
}
}
@media screen and (max-width:850px){  /*trem responsivo*/
  .caixaprincipal{
    width: 95%;
  }
  .campo-row {
    max-width: 95%;
    display: flex;
    gap: 1px;
    margin: 10px 1px 8px;

}
.campo{
  max-width: 90%;
  margin-bottom: 10px;
  margin: 10px 8px 8px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}
.campodesc{
  max-width: 88%;
  margin: 8px 8px 8px;
}
.excluir, .btnconf, .btncanc {  /*botoes estilo*/
  margin: 80px 8px 8px;
}
}
@media screen and (max-width:450px){  /*responsividade celular*/
  .caixaprincipal{
    width: 95%;
    min-height: 55rem;
  }
  .form-group-row {
    max-width: 95%;
    display:inline-block;
    justify-content: right;
    gap: 1px;
    margin: 8px 8px;

}
.form-group{
  max-width: 91%;
  margin-bottom: 10px;
  margin: 10px 8px 8px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.excluir, .btnconf, .btncanc {  /*botoes estilo*/
  margin: 0 auto;
  justify-content: center;
}
.seqbto{
    gap: 9px;
    margin: 8px 8px 0px;
}
}

/* ---------------- Dark Mode ---------------- */

body.dark-theme .excluir, .btnconf, .btncanc {
  background-color: #464EB8;
  color: #fff;
  box-shadow: 0 0 5px #2e2e2e;
}

body.dark-theme {
  background-color: #2e2e2e;
}

body.dark-theme .caixaprincipal{
  background-color: #4B4947;
  box-shadow: 0 0 10px #2e2e2e;
}

body.dark-theme .form-group {
  background-color: #4B4947;
  box-shadow: 0 0 5px #2e2e2e;
  color: #7B83EB;
}

body.dark-theme .form-group input {
  box-shadow: 0 0 5px #2e2e2e;
  background-color: #4B4947;
  color: #FFF;
}

body.dark-theme #prioridade {
  background-color: #4B4947;
  color: #FFF;
}

body.dark-theme #categoria {
  background-color: #4B4947;
  color: #FFF;
}

body.dark-theme #recorrencia{
  background-color: #4B4947;
  color: #FFF;
}
body.dark-theme .camposelec {
  box-shadow: 0 0 5px #2e2e2e;
  background-color: #4B4947;
  color: #FFF;
}

body.dark-theme .campocat{
  box-shadow: 0 0 5px #2e2e2e;
  background-color: #4B4947;
  color: #FFF;
}
body.dark-theme .titulo{
  color:#7B83EB
}